<div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
	<div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
		<div fxFlex="100" fxFlex.gt-sm="100">
			<div fxLayout="row" fxLayoutAlign="start center" style="height: 100%">
				<mat-card style="height: 100%" fxLayout="column" fxFlex="100" fxFlex.xs="100">
					<h3 fromAddress style="color: #4d81bf">{{ 'Loading address of' | translate }}</h3>
					<mat-card-content>
						<app-montage-form [fromEstateFlag]="true" [currentEstate]="this.fromEstate"></app-montage-form>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		<div fxFlex="100" fxFlex.gt-sm="100">
			<div fxLayout="row" fxLayoutAlign="start center" style="height: 100%">
				<mat-card style="height: 100%" fxLayout="column" fxFlex="100" fxFlex.xs="100">
					<h3 fromAddress style="color: #4d81bf">{{ 'Entladeadresse nach' | translate }}</h3>
					<mat-card-content>
						<app-montage-form [fromEstateFlag]="false" [currentEstate]="this.toEstate"></app-montage-form>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
	<div fxLayout.gt-sm="row" class="container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
		<div fxFlex="100" fxFlex.gt-sm="50">
			<div fxLayout="column">
				<button style="float: right" mat-raised-button class="allBtn" (click)="goToDateForm()" translate>
					{{ 'Jetzt kostenlos anfragen' | translate }}
				</button>
			</div>
		</div>
	</div>
</div>
