<div fxFlex fxLayout="column" fxLayoutAlign="center center">
	<form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
		<mat-card>
			<mat-label>
				<h1>{{ 'login.resetPwd' | translate }}</h1>
			</mat-label>
			<mat-form-field class="login-container">
				<mat-label>{{ 'login.newPwd' | translate }}</mat-label>
				<input
					type="password"
					matInput
					formControlName="newPwd"
					[placeholder]="'login.newPwd' | translate"
					required
					minlength="6"
				/>
				<mat-error
					*ngIf="resetPasswordForm.controls.newPwd.invalid && resetPasswordForm.controls.newPwd.touched"
				>
					<span translate>New Password is required, length should be at least 6 characters</span>
				</mat-error>
			</mat-form-field>
			<mat-form-field class="login-container">
				<mat-label>{{ 'login.reNewPwd' | translate }}</mat-label>
				<input
					type="password"
					matInput
					formControlName="reNewPwd"
					[placeholder]="'login.reNewPwd' | translate"
					required
					minlength="6"
				/>
				<mat-error
					*ngIf="resetPasswordForm.controls.reNewPwd.invalid && resetPasswordForm.controls.reNewPwd.touched"
				>
					<span translate>New Password is required, length should be at least 6 characters</span>
				</mat-error>
			</mat-form-field>
			<mat-error
				*ngIf="
					resetPasswordForm.controls.reNewPwd.touched &&
					resetPasswordForm.controls.reNewPwd.touched &&
					resetPasswordForm.errors?.passwordsDontMatch
				"
			>
				<span translate>Passwords dont match</span>
			</mat-error>
			<br />
			<button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid || isLoading">
				<app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
				<span translate>Reset</span>
			</button>
		</mat-card>
	</form>
</div>
