<!-- <div
	class="container"
	fxLayout="column"
	fxLayoutWrap
	fxLayout.xs="column"
	fxLayout.md="column"
	fxLayout.sm="column"
	fxLayout.lg="column"
	fxLayoutAlign="center"
	fxLayoutGap.xs="10"
	[ngStyle]="{ 'background-image': 'url(../../assets/images/Polarlicht_2.jpg)' }"
	style="background-size: cover;"
> -->
<div
	class="container"
	fxLayout="column"
	fxLayoutWrap
	fxLayout.xs="column"
	fxLayout.md="column"
	fxLayout.sm="column"
	fxLayout.lg="column"
	fxLayoutAlign="center"
	fxLayoutGap.xs="10"
	style="background-size: cover"
>
	<app-first-form fxFlexFill> </app-first-form>
</div>
