.container {
	text-align: center;
	margin: 5px 15%;
	padding: 1em;
}

@media only screen and (max-width: 667px) {
	.container {
		padding: 0em;
		margin: 20px 10px;
	}
	mat-form-field {
		width: 100%;
	}
}

@media only screen and (max-width: 1024px) {
	.container {
		padding: 0em;
		margin: 20px 10px;
	}
	mat-form-field {
		width: 100%;
	}
}

@media only screen and (max-width: 560px) {
	.container {
		padding: 0em;
		margin: 20px 10px;
	}
	mat-form-field {
		width: 100%;
	}
}
