<div
	class="container"
	fxFlex="100"
	fxLayout="row"
	fxLayout.xs="column"
	fxLayout.sm="column"
	fxLayoutAlign="center center"
	fxFlexFill
>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>

	<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center">
		<div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
			<h2>404</h2>
			<h1 class="txt">We couldn’t find this page.</h1>
		</div>
		<a class="btn" type="button" href="/">Return home</a>
	</div>

	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
	<a class="emp" type="button" href="/"
		>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
	>
</div>
