@import "src/theme/theme-variables";

.navbar {
	position: fixed;
	top: 0em;
	height: 70px;
	width: 100%;
	z-index: 1;
	margin-left: 0%;
	border-radius: 0px;
}

.brand {
	color: mat-color($app-primary, "default-contrast");
	text-decoration: none;
	padding-right: 1rem;
}

.menu-button {
	margin-right: 1rem;
}

@media screen and (max-width: 950px) {
	.navbar {
		margin: 0;
		top: 0;
		width: 100%;
		border-radius: 0;
	}
}

mat-expansion-panel {
	box-shadow: none;
}
